<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet"  href="../static/style.css">
</head>

<body>
    
    <header>
        <a class="logo" href="home">Postagram</a>
        <nav class="navbar">
            <a href="home">Home</a>
            <a href="login">Login</a>
            <a href="singup">Sing Up</a>
        </nav>
    </header>


    <div class="about-container">
        <h2>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Illum, sint!</h2>
        <h6>Lorem ipsum dolor sit amet consectetur adipisicing elit. Id esse beatae molestiae 
            quisquam veritatis iste, praesentium enim labore, a architecto nisi, suscipit asperiores.
            Voluptatum unde facilis, neque inventore aliquam harum.</h6>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Suscipit maxime consequatur 
            saepe ducimus qui laborum dolorum quia asperiores quod, dignissimos dolorem quae ex. 
            Optio provident rem autem sit ratione, assumenda, repellendus, doloremque placeat 
            tempora iusto nostrum voluptate. Ab expedita nam voluptate, delectus, dolor iure ipsam 
            impedit asperiores fugit voluptatibus nulla? Quas earum molestias neque molestiae totam
             odio quae dolor natus ullam, illo aperiam dolore. Officiis, eos nisi eligendi ullam 
             consequatur unde, et, accusantium quos velit tempore aperiam? Totam dolores modi omnis 
             incidunt esse amet nulla cumque ipsa, odit vitae. Quisquam molestias sit repellendus 
             facilis vero totam aliquam placeat? Quidem, quis.</p>
    </div>




    <footer></footer>

</body>
</html>