<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="../static/style.css">
</head>

<body>
    
    <header>
        <a class="logo" href="home">Postagram</a>

        <nav class="navbar">            
            <a href="login">Login</a>
            <a href="singup">Sing Up</a>
            <a href="about">About</a>
        </nav>
        
    </header>


    {% for post in all_posts %}
    <div class="post">
        <img class="post-image" src={{post.image}} alt="post-image">
        <a class="title" href="post/{{post.pid}}">{{post.title}}</a>
        <h2 class="brief">{{post.brief}}</h2>
        <p class="body">
            {{post.body}}
        </p>
    </div>
    {% endfor %}

    <footer></footer>

</body>
</html>