<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet"  href="../static/style.css">
</head>

<body>
    <script src="../static/blog.js"></script>
    
    <header>
        <a class="logo" href="home.html">Postagram</a>
        <nav class="navbar">
            <a href="home.html">Home</a>            
            <a href="singup.html">Sing Up</a>
            <a href="about.html">About</a>
        </nav>
    </header>

    <div id="login-form">
        <form  novalidate>
            <h3>LOG IN PAGE:</h3>
            <h6>Email</h6>
            <input id="email" type="email">
            <p id="mail-error" hidden> bad email</p>
            <h6>Password</h6>
            <input id="pwd" type="password">
            <button onclick="validateLogin()" id="submit-btn"> Log in </button>
        </form>
    </div>
 
    <footer></footer>
</body>
</html>