<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet"  href="../static/posts.css">
</head>

<body>
    
    <header>
        <a class="logo" href="home.html">Postagram</a>
        <nav class="navbar">
            <a href="home.html">Home</a>
            <a href="login.html">Login</a>
            <a href="singup.html">Sing Up</a>
            <a href="about.html">About</a>
        </nav>
    </header>


    <div class="post">
        <img class="post-image" src="https://assets.entrepreneur.com/content/3x2/2000/20191009140007-GettyImages-1053962188.jpeg" alt="post-image">
        <h1 class="title">Lorem ipsum dolor sit</h1>
        <h2 class="brief">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h2>
        <p class="body">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Molestias dolorum dignissimos iure aliquam provident placeat rerum quia vitae soluta eligendi, 
            sit repellat veritatis enim aperiam beatae eum nihil incidunt facilis, inventore, 
            quis numquam. Distinctio nemo culpa sequi quo pariatur odit accusamus
            quas iure incidunt molestiae dolore, porro delectus architecto totam!
        </p>

        <div class="comment-box">
            <ul>
                <li class="comment">
                    <h4>Author</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis nostrum provident, nemo natus ullam libero vero quas ex officia mollitia saepe voluptatibus voluptates ab aliquam harum totam temporibus sapiente repellat.</p>
                </li>
                <li class="comment">
                    <h4>Author</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis nostrum provident, nemo natus ullam libero vero quas ex officia mollitia saepe voluptatibus voluptates ab aliquam harum totam temporibus sapiente repellat.</p>
                </li>
                <li class="comment">
                    <h4>Author</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis nostrum provident, nemo natus ullam libero vero quas ex officia mollitia saepe voluptatibus voluptates ab aliquam harum totam temporibus sapiente repellat.</p>
                </li>
                <li class="comment">
                    <h4>Author</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis nostrum provident, nemo natus ullam libero vero quas ex officia mollitia saepe voluptatibus voluptates ab aliquam harum totam temporibus sapiente repellat.</p>
                </li>
                <li class="comment">
                    <h4>Author</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis nostrum provident, nemo natus ullam libero vero quas ex officia mollitia saepe voluptatibus voluptates ab aliquam harum totam temporibus sapiente repellat.</p>
                </li>
         </ul>
        </div>
    </div>




    <footer></footer>

</body>
</html>